* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #395492, #0099c0, #3dd5a8);
  user-select: none;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.auth-container {
  background: white;
  padding: 2em;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.auth-container h1 {
  margin-bottom: 1em;
  color: #333;
}

.auth-container input {
  display: block;
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.start {
  display: block;
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start:hover {
  background-color: #0056b3;
}

.close {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(20, auto);
  padding: 0.6vh;
  gap: 0.3vh;
  border-radius: 0.6vh;
  background-color: rgba(1, 8, 89, 0.5);
  z-index: 1;
}

.grid > div {
  --cell-size: min(4.5vh);
  height: var(--cell-size);
  width: var(--cell-size);
  border-radius: 0.3vh;
  background-color: rgba(126, 150, 221, 0.2);
}

.grid > div.ghost {
  background-color: rgba(255, 255, 255, 0.2);
}

.grid > div.I {
  background-color: #6be1ec;
}

.grid > div.J {
  background-color: #5eb0f3;
}

.grid > div.L {
  background-color: #f2c35b;
}

.grid > div.O {
  background-color: #f7e562;
}

.grid > div.S {
  background-color: #7be17b;
}

.grid > div.Z {
  background-color: #de5c6b;
}

.grid > div.T {
  background-color: #b276f3;
}

.grid > div.I,
.grid > div.J,
.grid > div.O,
.grid > div.S,
.grid > div.T,
.grid > div.Z,
.grid > div.ghost,
.grid > div.sad {
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2),
    inset -2px -2px 2px rgba(1, 8, 89, 0.2);
}

.grid > div.sad {
  background-color: #f2c35b;
  transition: background-color 0.5s, box-shadow 0.5s;
}

.grid > div.hide {
  animation: hide 0.5s;
}

@keyframes hide {
  0% {
    transform: scale(0.8) rotate(30deg);
  }
  45% {
    transform: scale(0.8) rotate(-30deg);
  }
  90% {
    transform: scale(1) rotate(0);
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 350px;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
}

#score-counter {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #040404;
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.profile-button:hover {
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f9f9f9;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#playerName {
  font-weight: bold;
}

#playerRecord {
  font-style: italic;
}

#restartButton {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  transition: background-color 0.3s, transform 0.3s;
}

#restartButton:hover {
  background-color: #45a049;
  transform: translate(-50%, -50%) scale(1.05);
}
